@import 'tailwindcss';
@import './typography.css' layer(components);

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --text-2xs: 0.6875rem;

  --font-sans: var(--font-inter);
  --font-display: var(--font-mona-sans);

  --color-custom-teal: hsl(176, 74%, 39%);
  --color-custom-blue: hsl(220, 60%, 15%);
}

.dvc-button {
  --text-color: hsl(180, 100%, 12%);
  margin: 0 auto;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  background-color: hsl(170, 72%, 47%);
  color: hsl(180, 100%, 12%);
  white-space: nowrap;
  font-family: 'Inter', sans-serif;

  font-weight: bold;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  border-radius: 0.5rem;
  letter-spacing: normal;
  font-size: 0.875rem;
  transition:
    background-color 0.2s ease-in-out,
    scale 0.15s ease-in-out;
}

.dvc-button:hover {
  text-decoration: none;
  background-color: hsla(170, 72%, 42%);
}

.dvc-button span {
  margin-left: 0.5rem;
}

.dvc-button .logo-container {
  display: grid;
  grid-template-columns: 1fr;
}

.dvc-button .logo-container svg {
  width: 1.5rem;
  height: 1.5rem;
  color: hsl(180, 100%, 12%);
  grid-row-start: 1;
  grid-column-start: 1;
}

.dvc-button:hover .tartle-logo {
  opacity: 0;
  rotate: 180deg;
  animation: pulse 0.3s ease-in-out;
}

.dvc-button:hover .logo-cube {
  opacity: 1;
  rotate: 360deg;
  animation: pulse 0.3s ease-in-out;
}

.tartle-logo,
.logo-cube {
  transition:
    opacity 0.3s ease-in-out,
    rotate 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86),
    scale 0.3s ease-in-out;
}
.tartle-logo {
  opacity: 1;
  scale: 1;
  rotate: 0deg;
}
.logo-cube {
  opacity: 0;
  scale: 1;
  rotate: 180deg;
}

.dvc-button:active {
  scale: 0.95;
}

.dvc-button:active .logo-cube {
  scale: 0.35;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
